/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url('./fonts/Raleway/Raleway-Regular.ttf');

 #mainHeader{
   color: white;
 }
 .topMenu{
   color: white !important;
   font-weight: bold;
   background-color: transparent !important;
 }
.cell{
  border: 2px solid gray;
  border-top: none;
}
 .header{
   background: #750000;
   color: #000;
 }

 .header{
   background: #750000 !important;
 }

 .header {
   background: #750000;
 }

 .foundation-5-top-bar .menu a {
   color: #000000;
 }

 .foundation-5-top-bar .is-dropdown-submenu {
   border: 0;
 }

 .foundation-5-top-bar .is-dropdown-submenu-item.opens-right a::after {
   border-color: transparent transparent transparent #fefefe;
 }

 .foundation-5-top-bar .js-drilldown-back > a::before {
   border-color: transparent #fefefe transparent transparent;
 }

 .foundation-5-top-bar .is-drilldown-submenu-parent > a::after {
   border-color: transparent transparent transparent #fefefe;
 }

 .foundation-5-top-bar .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
   border-color: #fefefe transparent transparent;
 }
